.input-wrapper {
  margin-left: 6.4em;
  margin-top: 16em;
}

.input-wrapper p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.5em;
  line-height: 1.5em;
}

.input-wrapper input {
  width: 35em;
  height: 4em;
  font-size: 1.3em;
  padding: 0.75em 1.25em;
  background: #ededed;
  border: 1px solid #c7c7c7;
  box-sizing: border-box;
}

.btn {
  margin-top: 3.8em;
  width: 16em;
  height: 5.5em;
  background-color: #5200ff;
  border: 1px solid #5200ff;
}

.btn p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.5em;
  line-height: 1.6em;
  text-align: center;
  color: #ffffff;
}

@media only screen and (max-width: 1260px) {
  .input-wrapper p {
    font-size: 1.125em;
  }

  .input-wrapper input {
    width: 27.5em;
    height: 4em;
    font-size: 1em;
  }

  .btn {
    margin-top: 3.8em;
    width: 14em;
    height: 5em;
  }

  .btn p {
    font-size: 1.3em;
  }
}

@media only screen and (max-width: 770px) {
  .input-wrapper {
    margin-left: 3.9375rem;
    margin-top: 3em;
  }

  .input-bar {
    display: flex;
    margin-top: 2em;
  }

  .input-wrapper input {
    margin: 0;
    width: 18.9375rem;
    height: 4em;
  }

  .email {
    margin-left: 2.4375rem;
  }
}

@media only screen and (max-width: 510px) {
  .input-bar {
    display: block;
    margin-top: 3em;
  }

  .input-wrapper input {
    margin: 0 0 1.5em;
    width: 26.6875rem;
    height: 4em;
  }

  .email {
    margin: 0;
  }

  .input-wrapper p {
    font-size: 0.9em;
    margin: 0.5em 0;
  }

  .btn {
    margin-top: 3em;
    margin-bottom: 3em;
    width: 26.6875rem;
    height: 6em;
  }

  .btn p {
    font-size: 1.4em;
  }
}
