.nav {
  margin: 0;
  position: relative;
  width: 50%;
  height: 58.55em;
  background-color: rgba(82, 0, 255);
}

.content-wrapper {
  position: relative;
  color: white;
  text-align: right;
}

.content-wrapper h1 {
  width: 6.6em;
  height: 3.5em;
  font-family: "Bebas Neue", cursive;
  font-size: 6em;
  line-height: 1.2em;
  font-weight: normal;
  margin-left: 2.5em;
  margin-top: 2em;
}

.content-wrapper p {
  margin-top: -1em;
  width: 17.5em;
  height: 3em;
  font-family: "Poppins", sans-serif;
  font-size: 2em;
  line-height: 1.6em;
  font-weight: 500;
  margin-left: 9.6em;
}

.img-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.5;
  width: 100%;
  height: 58.55em;
  object-fit: cover;
  margin: 0;
}

@media only screen and (max-width: 1260px) {
  .nav {
    width: 50%;
    height: 54em;
  }

  /* .container {
    width: 100%;
    height: 72.875em;
    margin: 0;
    background-size: cover;
  } */

  .content-wrapper h1 {
    width: 26.4375rem;
    height: 14.9375rem;
    font-size: 4em;
    margin-left: 2em;
    margin-top: 4em;
  }

  .content-wrapper p {
    margin-top: -1em;
    width: 17.5em;
    height: 3em;
    font-size: 1.5em;
    margin-left: 5.3em;
  }

  .img-wrapper {
    width: 100%;
    height: 54em;
    margin: 0;
  }
}

@media only screen and (max-width: 770px) {
  .nav {
    position: relative;
    width: 48.1em;
    height: 36em;
    background-color: rgba(82, 0, 255);
  }

  .content-wrapper {
    position: relative;
    text-align: center;
  }

  .img-wrapper {
    width: 48.1em;
    height: 36em;
  }

  .content-wrapper h1 {
    margin: 0 1em 1em;
    padding-top: 1.5em;
    width: 10em;
    height: 3.5em;
  }

  .content-wrapper p {
    margin: 0em 4em;
    width: 24em;
    height: 3em;
  }
}

@media only screen and (max-width: 510px) {
  .nav {
    position: relative;
    width: 31.85em;
    height: 29em;
    background-color: rgba(82, 0, 255);
  }

  .img-wrapper {
    width: 31.85em;
    height: 29em;
  }

  .content-wrapper {
    font-size: 0.8em;
  }

  .content-wrapper h1 {
    margin: 0 2em;
    padding-top: 2em;
    width: 6em;
    height: 3.5em;
  }

  .content-wrapper p {
    margin: 2em 4.3em 0;
    width: 18em;
    height: 3em;
  }
}
